.pr-panel{
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.menu-rp{
    width: 100%;
    height: 8vh;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reset-p-panel{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.panel-trouble-password{
    width: 28%;
    height: 78vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.igIcon-pr{
    width: 110px;
    height: auto;
    margin-left: 15%;
    display: flex;
    justify-content: center;
}

.iconpr{
    margin-top: 2px;
    width: 112px;
}

.iconLock{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconLock h1{
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.text-pr{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 14.2px;
    color: #9c9c9c;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.input-rp{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
}

.input-rp-r{
    width: 75%;
    height: 6vh;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    border-radius: 4px;
    padding-left: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}






.rp-login-link{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login-link{
    width: 77%;
    height: 30px;
}

.sig1rp{
    border: none;
    background-color: #B2DFFC;
    font-weight: 500;
    border-radius: 4px;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.sig2rp{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #0095F6;
    cursor: pointer;
}

.or-rp{
    width: 100%;
    height: 50px;
    color: #bebebe;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.ray1-rp, .ray2-rp{
    width: 125px;
    height: .5px;
    background-color: #bebebe;
    margin: 25px;
}

.ro-rp{
    font-size: 13px;
    color: #928E8E;
    font-weight: 500;
}

.cna{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.cna-c{
    color: #111;
}

.btl{
    width: 100%;
    height: 40px;
    margin-top: 22%;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #111;
}


.modal-card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-pr{
    width: 30%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.modal-pr-btn{
    width: 100%;
    height: 6vh;
    background-color: #fff;
    margin-top: 7%;
    border-top: 1px solid #DBDBDB;
    border-radius: 0px 0px 5px 5px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #0095F7;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.modal-title-pr{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.modal-des-pr{
    margin-top: 5px;
    color: #9c9c9c;
}
