.history{
    width: 200px;
    height: auto;
    background-color: #FAFAFA;
}

.history-wel{
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
}

.content-history{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.content-history-1{
    width: 50%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: column;
}

.content-history-2{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ig-history{
    width: 75%;
    height: 16vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 3px;
    padding-top: 8px;
}

.ig-history-info{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #fff;
}

.ig-history-info h1{
    font-size: 12px;
}


.slick-slider{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #111;
}


.slick-next:before, .slick-prev:before {
    color: #111;
}



.ig-history-text h1{
    margin-left: 5px;
}

.sugerencias{
    margin-left: 5%;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    border: 1px soldi #111;

}

.sugerencias-title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.sugerencias-title h4{
    font-family: 'Roboto';
    font-weight: 500;
    color: RGB(198, 198, 198);
    font-size: 14px;
}

.sugerencias-title h5{
    font-family: 'Roboto';
    font-weight: 500;
    color: #111;
    font-size: 13px;
}

.us-text{
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    color: RGB(27, 160, 247);
    margin-left: 20%;
}

.sugerencias-people{
    margin-top: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ig-s-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ig-s-info{
    margin-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.ig-s-data{
    width: 75%;
   
}

.ig-s-info h1{
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #111;
}

.ig-s-info h2{
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #dedede;
}

.ig-s-text{
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    color: RGB(27, 160, 247);
}